:root{
    --azul-principal: #0d1424;
    --negro: #0a0014;
    --tarjetas: #112230;
    --bordes: #2dd4bf;
    --texto: #e2e8f0;
    --sidebar: #0a0f1e;
    --texto-2: #2dd4bf;
    --sidebar-botones: #2dd4bf;
    --sidebar-transicion: #3ba395;
}

*{
    margin: 0;
    padding: 0;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr;
}

.contenedor-pagina {
    display: flex;
    flex-direction: row;
}

.presentacion{
    color: var(--texto);

}

.foto-perfil{
    width: 200px;
    height: 200px;
    border-radius: 15%;
    box-shadow: 0 0 10px -2px rgb(255, 255, 255);
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.foto-perfil:hover{
    transform: scale(1.08);
    box-shadow: 0 0 15px rgb(255, 255, 255);
}

.parte_personal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.sidebar{
    display: none;    
}

.menu-contenido1{
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin-top: 9rem;
    background-color: var(--tarjetas);
    transition: all 0.5s ease;
}

.menu-contenido1:hover{
    background-color: var(--sidebar-transicion);
    transform: scale(1.05);
}

.menu-contenido3:hover{
    background-color: var(--sidebar-transicion);
    transform: scale(1.02);
}

.menu-contenido3{
    color: rgb(255, 255, 255);
    padding: 0.3rem;
    background-color: var(--tarjetas);
    transition: background-color 0.5s ease;
}

.main-contenido{
    background-color: var(--azul-principal);
    margin-top: 2rem;
    border-bottom: 2px solid var(--bordes);
    border-top: 2px solid var(--bordes);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: var(--azul-principal);
    border-bottom: 2.4px solid var(--bordes);
    margin-bottom: 1.8rem;
}

.nombre{
    transition: text-shadow 0.9s ease;
}

.nombre:hover{
    text-shadow: 0 0 30px rgba(0, 255, 221, 0.507),
    0 0 60px rgb(27, 199, 79);
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr;

    
}


.tarjetas{
    font-size: 25px;
    color: var(--texto-2);
    margin: 1px;
    margin-top: 22px;
    padding: 15px;
    background-color:  var(--tarjetas);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 0.3rem;
    transition: transform 1.2s ease;
}


.tarjetas:hover{
    background-color: var(--sidebar-transicion);
    color: var(--texto);
    transition: background-color 0.5s ease, color 0.5s ease;
    transform: scale(1.02);
}

H1{
    color: var(--azul-principal);
    text-align: center;
    margin: 20px;
    background: linear-gradient(#2dd4bf, #ffffff);
    -webkit-background-clip: text;
    color: transparent;

}

h2{
    color: #ffffffc8;
    display: flex;
    justify-content: center;
}

.proyectos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.proyecto {
    color: var(--texto);
    font-size: 1.3rem;
    width: 100%;        /*  ← se adapta al ancho disponible */
    max-width: 400px;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.proyecto-titulo{
    color: var(--texto-2);
    font-size: 1.5rem;
}

.contacto-link{
    margin-left: 0.2rem;
    color: rgb(40, 58, 133);
    transition: color 0.5s ease;   
}

.contacto-link:hover{
    color: var(--sidebar-botones);
    text-shadow: 0 0 27px rgb(255, 255, 255);
}

.body{
    background-color: var(--negro);
    font-family: 'Barlow Condensed', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pie-de-pagina{
    background-color: var(--azul-principal);
    color: var(--texto);
    margin: 0.rem;
    border-top: 2px solid var(--bordes);
    margin-top: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction:row;
}

.contacto{
    margin-left: 0.8rem;
}
.icono-wpp{
    margin: 10px;
}

@media (min-width: 1024px){

    .dashboard{
        grid-template-columns: 250px 1fr;
        grid-template-rows: 115px 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px;
        grid-template-areas: 
        "header header"
        "sidebar main" 
        "sidebar main"
        "footer footer";
    }

    .panel-practicas {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 10px;
}

    .header{
        grid-area: header;
        padding: 1rem 2rem;
    }



    .sidebar{
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        width: 200px;
        position: sticky;
        background-color: var(--azul-principal);
        min-height: 100vh;
        padding: 1rem;
        padding-left: 1.6rem;
        margin-right: 1rem;
        margin-top: 1rem;
        border-top: 2px solid var(--bordes);
        border-right: 2px solid var(--bordes);
        border-bottom: 2px solid var(--bordes);
    }

    nav{
        padding-top: 2rem;
    }

    .main-contenido{
        grid-area: main;
        max-width: none;
        margin-top: 1rem;
        border-left: 2px solid var(--bordes);
    }

    .presentacion{
        color: var(--texto);
        text-align: flex-end;
        font-size: 1.8rem;
        animation: floatText 3s ease-in-out infinite;
        line-height: 2rem;
    }

    .foto-perfil{
        width: 300px;
        height: 300px;
        border-radius: 15%;
        box-shadow: 0 0 10px -2px rgb(255, 255, 255);
        margin-top: 1rem;
        transition: all 0.3s ease;
    }

    .foto-perfil:hover{
        transform: scale(1.08);
    }

    .parte_personal {
        display: flex;         
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 2rem;              
        padding: 2rem;
        align-self: start;
    }

    .caja{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
    }


    .proyectos {
    display: grid;
    grid-template-columns: 1gr;
    justify-items: center;
    gap: 4rem;
    padding: 1rem;
    }

    .proyecto {
        color: var(--texto);
        font-size: 1.3rem;
        width: 100%;        /*  ← se adapta al ancho disponible */
        max-width: 400px;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        background-color: var(--tarjetas);
        padding: 1.5rem;
        transition: all 0.3s ease;
    }

    .proyecto:hover{
        background-color: var(--sidebar-transicion);
        transform: scale(1.02);
    }

    .proyecto-titulo{
        color: var(--texto-2);
        font-size: 1.5rem;
    }

    .pie-de-pagina{
        grid-area: footer;
        padding: 1rem;
        align-content: center;
    }

    #github{
        margin-left: 1rem;
    }

    #github:hover{
       transform: scale(1.3);
        box-shadow: 0 0 10px -2px rgb(255, 255, 255);
    }
}

    @media (min-width: 768px){

        nav{
            padding-top: 2rem;
        }

        .main-contenido{
            grid-area: main;
            max-width: none;
            margin-top: 1rem;
            border-left: 2px solid var(--bordes);
        }

        .presentacion{
            color: var(--texto);
            text-align: flex-end;
            font-size: 1.8rem;
            animation: floatText 3s ease-in-out infinite;
            line-height: 2rem;
        }

        .foto-perfil{
            width: 300px;
            height: 300px;
            border-radius: 15%;
            box-shadow: 0 0 10px -2px rgb(255, 255, 255);
            margin-top: 1rem;
            transition: all 0.3s ease;
        }

        .foto-perfil:hover{
            transform: scale(1.06);
        }

            .proyectos {
            display: grid;
            grid-template-columns: 1gr;
            justify-items: center;
            gap: 4rem;
            padding: 1rem;
            }

        .proyecto {
            color: var(--texto);
            font-size: 1.3rem;
            width: 100%;        /*  ← se adapta al ancho disponible */
            max-width: 400px;
            border-radius: 0.5rem;
            margin-top: 0.5rem;
            background-color: var(--tarjetas);
            padding: 1.5rem;
            transition: all 0.3s ease;
        }

        .proyecto:hover{
            background-color: var(--sidebar-transicion);
            transform: scale(1.02);
        }

        .proyecto-titulo{
            color: var(--texto-2);
            font-size: 1.5rem;
        }

        .pie-de-pagina{
            grid-area: footer;
            padding: 1rem;
            align-content: center;
        }

        #github{
            margin-left: 1rem;
        }

        #github:hover{
        transform: scale(1.3);
            box-shadow: 0 0 10px -2px rgb(255, 255, 255);
        }

}